{{!-- <link rel="stylesheet" href="/css/air_tickets.css"> --}}
{{#if script}}
  {{{script}}}
{{/if}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/air_tickets.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {{#if styles}}
      {{{styles}}}  <!-- This allows injecting extra CSS links from views -->
    {{/if}}
    
 </head>
  <body>
    <header class="top-bar">
      <a href="/" class="logo">✈ FlyExpress</a>
      <nav>
        <ul>
          <li><a href="/tickets">Tickets</a></li>
          <li><a href="/top-destinations">Top Destinations</a></li>
          <li><a href="/about">About us</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}} <!-- Content from views will be injected here -->

    <footer class="footer">
      © 2025 airtickets. All rights reserved.
    </footer>
    <script src="https://unpkg.com/globe.gl"></script>

  
    
  </body>
</html>
