<link rel="stylesheet" href="/css/about.css" />

<div class="page-container about-container">
    <h2>Meet the Team ✈️</h2>

    <div class="dev-grid">
        <!-- Developer 1 -->
        <div class="dev-card">
            <img src="/images/dev1.jpg" alt="Nikolaos Gerontas">
            <h3>Nikolaos Gerontas</h3>
            <p>AM: 1092813<br>Year: 4th Year<br></p>
            <p><strong>Email:</strong> up1092813@ac.upatras.gr</p>
        </div>

        <!-- Developer 2 -->
        <div class="dev-card">
            <img src="/images/dev2.jpg" alt="Maria-Niki Zografou">
            <h3>Maria-Niki Zografou</h3>
            <p>AM: 1096060<br>Year: 4th Year<br></p>
            <p><strong>Email:</strong> up1096060@ac.upatras.gr</p>
        </div>
    </div>
</div>
