<link rel="stylesheet" href="/css/air_tickets.css">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/air_tickets.css" />
    <script src="https://unpkg.com/globe.gl"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <header class="top-bar">
      <a href="/" class="logo">✈ FlyExpress</a>
      <nav>
        <ul>
          <li><a href="/tickets">Tickets</a></li>
          <li><a href="/top-destinations">Top Destinations</a></li>
          <li><a href="/about">About us</a></li>
        </ul>
      </nav>
    </header>

    {{{body}}} <!-- Content from views will be injected here -->

    <footer class="footer">
      © 2025 airtickets. All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/cities.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
